@import url(https://dablulite.github.io/accountdetailscolumns/import.css);
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bearableInbox.css);

/* Fix Small Image Group Previews (>=32px) */
.lazyImg-ewiNCh,
.originalLink-Azwuo9 {
    min-width: auto !important;
}

.mediaAttachmentsContainer-1WGRWy>div {
    width: fit-content;
}

.oneByTwoSoloItem-MZsImq {
    flex: 0.5;
}

.twoByOneGrid-3RBEQO {
    flex-direction: row;
}

.oneByTwoGrid-25mx0i {
    align-items: flex-start;
}

.lazyImgContainer-3k3gRy,
.mediaAttachmentsContainer-1WGRWy {
    border-radius: 0 !important;
}

.hoverButtonGroup-2yZIzC {
    top: 0;
    right: 0;
}

.hoverButton-36QWJk {
    border-radius: 5px;
}

/* discord-accent-coloring */
/* :root {
    --rose: #ead7d3;
    --rose-pink: #f4afb3;
    --brand-experiment-100: var(--rose-pink);
    --brand-experiment-130: var(--rose-pink);
    --brand-experiment-160: var(--rose-pink);
    --brand-experiment-200: var(--rose-pink);
    --brand-experiment-230: var(--rose-pink);
    --brand-experiment-260: var(--rose-pink);
    --brand-experiment-300: var(--rose-pink);
    --brand-experiment-330: var(--rose-pink);
    --brand-experiment-360: var(--rose-pink);
    --brand-experiment-400: var(--rose-pink);
    --brand-experiment-430: var(--rose-pink);
    --brand-experiment-460: var(--rose-pink);
    --brand-experiment: var(--rose-pink);
    --brand-experiment-500: var(--rose-pink);
    --brand-experiment-530: var(--rose-pink);
    --brand-experiment-560: var(--rose-pink);
    --brand-experiment-600: var(--rose-pink);
    --brand-experiment-630: var(--rose-pink);
    --brand-experiment-660: var(--rose-pink);
    --brand-experiment-700: var(--rose-pink);
    --brand-experiment-730: var(--rose-pink);
    --brand-experiment-760: var(--rose-pink);
    --brand-experiment-800: var(--rose-pink);
    --brand-experiment-830: var(--rose-pink);
    --brand-experiment-860: var(--rose-pink);
    --brand-experiment-900: var(--rose-pink);
    --brand-100: var(--rose-pink);
    --brand-130: var(--rose-pink);
    --brand-160: var(--rose-pink);
    --brand-200: var(--rose-pink);
    --brand-230: var(--rose-pink);
    --brand-260: var(--rose-pink);
    --brand-300: var(--rose-pink);
    --brand-330: var(--rose-pink);
    --brand-360: var(--rose-pink);
    --brand-400: var(--rose-pink);
    --brand-430: var(--rose-pink);
    --brand-460: var(--rose-pink);
    --brand: var(--rose-pink);
    --brand-500: var(--rose-pink);
    --brand-530: var(--rose-pink);
    --brand-560: var(--rose-pink);
    --brand-600: var(--rose-pink);
    --brand-630: var(--rose-pink);
    --brand-660: var(--rose-pink);
    --brand-700: var(--rose-pink);
    --brand-730: var(--rose-pink);
    --brand-760: var(--rose-pink);
    --brand-800: var(--rose-pink);
    --brand-830: var(--rose-pink);
    --brand-860: var(--rose-pink);
    --brand-900: var(--rose-pink);
    --text-brand: var(--rose-pink);
    --control-brand-foreground: var(--rose-pink);
} */

/* rounded square avatars but it's not broken */
/* .avatar-large,
.avatar-profile, */
/*.avatar-small, removed because it caused a problemo*/
/* .avatar-xlarge,
.avatar-xsmall,
.avatar-xxlarge,
.avatar-popout,
.avatar-hint,
.avatar-wrapper {
    border-radius: 10% !important;
    margin-left: 5px !important;
}

.avatar-16XVId {
    border-radius: 10% !important;
}

[class*="avatar"],
[class*="guild-inner"] {
    border-radius: 10% !important;
}

.mask-3OgeRz {
    border-radius: 10%;
    -webkit-mask: none;
    mask: none;
} */

/* Change it to any value */
/* .avatar-6qzftW .wrapper-1VLyxH,
.avatar-1HDIsL .wrapper-1VLyxH,
.avatar-2MSPKk.wrapper-1VLyxH,
.avatar-6qzftW .avatar-b5OQ1N,
.avatar-1HDIsL .avatar-b5OQ1N,
.avatar-2MSPKk .avatar-b5OQ1N {
    border-radius: 4px;
} */

/* Don't Touch This Is Important */
/* .avatar-6qzftW foreignObject,
.avatar-1HDIsL foreignObject,
.avatar-2MSPKk foreignObject {
    mask: none;
} */

/* Big Avatar   */
/* .messageListItem-ZZ7v6g .wrapper-30-Nkg .avatar-2e8lTP {
    width: 48px;
    height: 48px;
    margin-top: 0px;
}

.messageListItem-ZZ7v6g .wrapper-30-Nkg.message-2CShn3 {
    margin-left: 0px;
    padding-bottom: 0px;
}

.cozy-VmLDNB.wrapper-30-Nkg {
    padding-left: 77px;
} */

/*Embeds*/
/* :root {
    --embed-border-radius: 8px;
}

.embed-hKpSrO {
    border-radius: var(--embed-border-radius);
}

.embed-hKpSrO code {
    background: var(--background-secondary);
}

:root {
    --embed-line-width: 256px;
}

.embedWrapper-1MtIDg {}

.embedFull-1HGV2S {
    border-left: calc(4px + var(--embed-line-width)) solid var(--background-accent);
    background: var(--background-secondary);
}

.grid-1aWVsE {
    margin-left: calc(-1 * var(--embed-line-width));
    z-index: 1;
}

.embedFull-1HGV2S:after,
.embedFull-1HGV2S:before {
    content: "";
    height: 100%;
    width: var(--embed-line-width);
    position: absolute;
    top: 0;
    left: calc(-1 * var(--embed-line-width));
}

.embedFull-1HGV2S:before {
    background: var(--background-secondary);
    opacity: .8;
}

.embedFull-1HGV2S:after {
    background: linear-gradient(to right, transparent, var(--background-secondary));
}

.embedAuthor-TJIHp5,
.embedDescription-1DrJxZ,
.embedFields-2yHGHT,
.embedFooter-3dj0UE,
.embedMedia-1mdWSP,
.embedProvider-1GSN0c,
.embedTitle-2n1pEb {
    z-index: 3;
} */

/* Hide GIFT button */
.buttons-uaqb-5>.button-ejjZWC {
    display: none
}

/* Hide GIF button */
.buttonContainer-2lnNiN:not(.apateE2EButton):not(.send-button)> :not(.emojiButton-3FRTuj):not(.fm-button)> :not(.stickerButton-1-nFh2):not(.apateEncryptionKeyContainer):not(.translateButton-DhP9x8) {
    display: none;
}

/* Hide Stickers button */
.stickerButton-1-nFh2 {
    display: none;
}


/* Colorize ICon */
.emojiItemDisabled-3VVnwp {
    filter: none;
}

/* Colorize Spoiler */
/* #app-mount .spoilerText-2G40u0.hidden-2lQZ5q {
    background-color: #ecdcd4;
} */

/* Emote Fix */
img.emote {
    text-indent: 0;
    white-space: nowrap;
    width: auto;
    position: relative;
    top: 0.25ex;
}

/* Normal Status Picker */
.accountProfilePopoutWrapper-3GskID {
    left: unset;
}

.accountProfilePopoutWrapper-3GskID .userPopoutOuter-3AVBmJ {
    width: 220px;
}

.accountProfilePopoutWrapper-3GskID .userPopoutOverlayBackground-dKOOda {
    margin: 0;
    background: none;
}

.accountProfilePopoutWrapper-3GskID .userPopoutInner-1hXSeY> :not(.overlayBackground-1KgwVi),
.accountProfilePopoutWrapper-3GskID .overlayBackground-1KgwVi> :not(#account),
.accountProfilePopoutWrapper-3GskID #account>div>div>#account-divider-1 {
    display: none;
}

/* Fix Discord's Embeds for YouTube/Twitch VIdeos */
.embedVideoImageComponent-3Clc3C {
    justify-content: unset;
    align-items: unset;
}

/* Username Background(Fixes New Badge Issue) */
.headerText-2z4IhQ>[role*="button"]:not(.username-h_Y3Us)::before {
    content: '';
    width: calc(18px + 7px);
    background-color: currentColor;
    opacity: 0.3;
    margin-left: 2px;
}

/* Username Background */
.headerText-2z4IhQ>span::before {
    content: '';
    width: calc(100% + 7px);
    height: 100%;
    border-radius: 5px;
    background-color: currentColor;
    opacity: 0.3;
    position: absolute;
    margin-top: 0px;
    z-index: -1;
    margin-left: -3px;
}

.headerText-2z4IhQ>span {
    margin-left: 3px;
}

/* repairs left shift */
.cozy-3raOZG .headerText-3Uvj1Y>.username-1A8OIy {
    margin-left: 3px;
}

/* fix the file icon shrinking with long file names */
.audioMetadata-3zOuGv::before {
    min-width: 24px;
}

/* Fix the channel icon being oversized in embeds and channel topics */
.topic-TCb_qw>.wrapper-3WhCwL>.channelIcon-1MN1lz,
.embedFooterText-28V_Wb>.wrapper-3WhCwL>.channelIcon-1MN1lz {
    width: calc(1.05rem * 1.05 / 1.3);
    height: 1.05rem;
}


/* Replaces the long discord message links with "Jump to Message" in chat */
[title^="https://discord.com/channels/"],
[title^="https://ptb.discord.com/channels/"],
[title^="https://canary.discord.com/channels/"] {
    line-height: 0;
    font-size: 0;
    text-decoration-color: #fff !important;
}

[title^="https://discord.com/channels/"]::before,
[title^="https://ptb.discord.com/channels/"]::before,
[title^="https://canary.discord.com/channels/"]::before {
    content: "✉ Jump to Message";
    font-size: 16px;
    user-select: text;
    font-weight: 500;
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    background: hsla(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%, 0.3);
    color: hsl(236, calc(var(--saturation-factor, 1) * 83.3%), 92.9%);
}

[title^="https://discord.com/channels/"]:hover::before,
[title^="https://ptb.discord.com/channels/"]:hover::before,
[title^="https://canary.discord.com/channels/"]:hover::before {
    background-color: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);
    color: #fff;
}

/* Compact Blocked Messages */
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs)>.wrapper-30-Nkg {
    padding: 0 0 0 16px
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs)>.wrapper-30-Nkg.compact-2Nkcau {
    padding: 0 0 0 108px
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) {
    margin: 0
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1.expanded-3lghlw:not(.backgroundFlash-1X5jVs) {
    background-color: var(--info-danger-background)
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) .messageListItem-ZZ7v6g .groupStart-3Mlgv1,
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs, .expanded-3lghlw)+.messageListItem-ZZ7v6g .groupStart-3Mlgv1 {
    margin-top: 0
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) .messageListItem-ZZ7v6g {
    opacity: .5
}

.blockedSystemMessage-3FmE9n .iconContainer-2rPbqG {
    display: none
}

.blockedMessageText-3Zeg3y {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: var(--interactive-muted)
}

.blockedMessageText-3Zeg3y:hover {
    text-decoration: underline
}

.blockedMessageText-3Zeg3y:hover,
.groupStart-3Mlgv1.expanded-3lghlw .blockedMessageText-3Zeg3y {
    color: var(--info-danger-foreground)
}

.blockedAction-2cPk2G {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0
}

.blockedMessageText-3Zeg3y:after {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 14px;
    pointer-events: none;
    background-color: currentColor;
    -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 24" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 3.999V2H9V3.999H3V5.999H21V3.999H15Z M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z" ></path></svg>') center/contain no-repeat
}

.container-1NXEtd .content-2a4AW9>div[style="height: 16px;"]:nth-child(2) {
    display: none;
}

/* Compact channels catégories */

:root {
    --category-spacing: 2px;
    --channel-spacing: 4px;
}

.containerDefault-3TQ5YN,
.containerDragAfter-1J_-1V,
.containerDragBefore-ei4h1m,
.containerUserOver-3woq86 {
    padding-top: var(--category-spacing);
}

.mainContent-20q_Hp {
    padding: var(--channel-spacing);
}

/* Compact channels */

/* .channelName-3KPsGw {
    font-size: 16px;
}

.mainContent-20q_Hp {
    padding: 4px 5px !important;
}

.content-1gYQeQ>a>.iconContainer-21RCa3>.icon-2W8DHg {
    width: 16px;
    height: 16px;
} */

/* Re-round Spotify Status Images */
.assetsLargeImageSpotify-17ME3M {
    border-radius: 8px;
}

/* Better Jump To Present Button */
/* [class*="jumpToPresentBar"] {
    display: contents;
}

[class*="jumpToPresentBar"]>button:first-child {
    display: none;
}

[class*="jumpToPresentBar"]>button:last-child {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 22px;
    padding: 8px !important;
    height: auto;
    background-color: #f4afb3;
    box-shadow: var(--elevation-high);
    border-radius: 100px;
    display: flex;
    font-size: 0px;
    color: transparent;
    transition: font-size .2s .1s, color .2s, padding .4s .1s;
}

[class*="jumpToPresentBar"]>button svg {
    order: -1;
    margin: 0px;
    height: 24px;
    width: 24px;
    top: auto;
    margin-right: 0px;
    margin-left: 0px;
    color: #FFFFFF;
    transition: margin .6s;
}

[class*="jumpToPresentBar"]:hover>button {
    padding: 8px 18px !important;
    font-size: 14px;
    color: #FFFFFF;
    transition: font-size .2s, color .2s .1s, padding .4s;
}

[class*="jumpToPresentBar"]:hover>button svg {
    margin-right: 2px;
    margin-left: -6px;
} */