@import url("https://raw.githubusercontent.com/snappycreeper/OldDiscordFont/main/OldDiscordFont.theme.css");
@import url("https://maendisease.github.io/BetterDiscordStuff/css/bearableInbox.css");

/* discord button */
/* [data-list-item-id="guildsnav___home"]>.childWrapper-1j_1ub {
  background: url("https://cdn.discordapp.com/icons/1015060230222131221/f0204a918c6c9c9a43195997e97d8adf.webp") center/cover;
}
.homeIcon-r0w4ny {
  display: none;
} */

/* Hide the emoji links */
a[href^="https://cdn.discordapp.com/emojis/"] {
    display: none;
}

/*Remove Invite Button next to channel name*/
.actionIcon-2sw4Sl {
    display: none;
}

/* Fix Small Image Group Previews (>=32px) */
.lazyImg-ewiNCh,
.originalLink-Azwuo9 {
    min-width: auto !important;
}

.mediaAttachmentsContainer-1WGRWy>div {
    width: fit-content;
}

.oneByTwoSoloItem-MZsImq {
    flex: 0.5;
}

.twoByOneGrid-3RBEQO {
    flex-direction: row;
}

.oneByTwoGrid-25mx0i {
    align-items: flex-start;
}

.lazyImgContainer-3k3gRy,
.mediaAttachmentsContainer-1WGRWy {
    border-radius: 0 !important;
}

.hoverButtonGroup-2yZIzC {
    top: 0;
    right: 0;
}

.hoverButton-36QWJk {
    border-radius: 5px;
}

/* Hide GIFT button */
.buttons-uaqb-5>.button-ejjZWC {
    display: none
}

/* Hide GIF button */
.buttonContainer-2lnNiN:not(.apateE2EButton):not(.send-button)> :not(.emojiButton-3FRTuj):not(.fm-button)> :not(.stickerButton-1-nFh2):not(.apateEncryptionKeyContainer):not(.translateButton-DhP9x8) {
    display: none;
}

/* Hide Stickers button */
.stickerButton-1-nFh2 {
    display: none;
}


/* Colorize ICon */
.emojiItemDisabled-3VVnwp {
    filter: none;
}

/* Colorize Spoiler */
/* #app-mount .spoilerText-2G40u0.hidden-2lQZ5q {
    background-color: #ecdcd4;
} */

/* Emote Fix */
img.emote {
    text-indent: 0;
    white-space: nowrap;
    width: auto;
    position: relative;
    top: 0.25ex;
}

/* Normal Status Picker */
.accountProfilePopoutWrapper-3GskID {
    left: unset;
}

.accountProfilePopoutWrapper-3GskID .userPopoutOuter-3AVBmJ {
    width: 220px;
}

.accountProfilePopoutWrapper-3GskID .userPopoutOverlayBackground-dKOOda {
    margin: 0;
    background: none;
}

.accountProfilePopoutWrapper-3GskID .userPopoutInner-1hXSeY> :not(.overlayBackground-1KgwVi),
.accountProfilePopoutWrapper-3GskID .overlayBackground-1KgwVi> :not(#account),
.accountProfilePopoutWrapper-3GskID #account>div>div>#account-divider-1 {
    display: none;
}

/* Fix Discord's Embeds for YouTube/Twitch VIdeos */
.embedVideoImageComponent-3Clc3C {
    justify-content: unset;
    align-items: unset;
}

/* Username Background(Fixes New Badge Issue) */
/* .headerText-2z4IhQ>[role*="button"]:not(.username-h_Y3Us)::before {
    content: '';
    width: calc(18px + 7px);
    background-color: currentColor;
    opacity: 0.3;
    margin-left: 2px;
} */

/* Username Background */
/* .headerText-2z4IhQ>span::before {
    content: '';
    width: calc(100% + 7px);
    height: 100%;
    border-radius: 5px;
    background-color: currentColor;
    opacity: 0.3;
    position: absolute;
    margin-top: 0px;
    z-index: -1;
    margin-left: -3px;
} */

.headerText-2z4IhQ>span {
    margin-left: 3px;
}

/* repairs left shift */
.cozy-3raOZG .headerText-3Uvj1Y>.username-1A8OIy {
    margin-left: 3px;
}

/* fix the file icon shrinking with long file names */
.audioMetadata-3zOuGv::before {
    min-width: 24px;
}

/* Fix the channel icon being oversized in embeds and channel topics */
.topic-TCb_qw>.wrapper-3WhCwL>.channelIcon-1MN1lz,
.embedFooterText-28V_Wb>.wrapper-3WhCwL>.channelIcon-1MN1lz {
    width: calc(1.05rem * 1.05 / 1.3);
    height: 1.05rem;
}


/* Replaces the long discord message links with "Jump to Message" in chat */
[title^="https://discord.com/channels/"],
[title^="https://ptb.discord.com/channels/"],
[title^="https://canary.discord.com/channels/"] {
    line-height: 0;
    font-size: 0;
    text-decoration-color: #fff !important;
}

[title^="https://discord.com/channels/"]::before,
[title^="https://ptb.discord.com/channels/"]::before,
[title^="https://canary.discord.com/channels/"]::before {
    content: "✉ Jump to Message";
    font-size: 16px;
    user-select: text;
    font-weight: 500;
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    background: hsla(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%, 0.3);
    color: hsl(236, calc(var(--saturation-factor, 1) * 83.3%), 92.9%);
}

[title^="https://discord.com/channels/"]:hover::before,
[title^="https://ptb.discord.com/channels/"]:hover::before,
[title^="https://canary.discord.com/channels/"]:hover::before {
    background-color: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);
    color: #fff;
}

/* Compact Blocked Messages */
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs)>.wrapper-30-Nkg {
    padding: 0 0 0 16px
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs)>.wrapper-30-Nkg.compact-2Nkcau {
    padding: 0 0 0 108px
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) {
    margin: 0
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1.expanded-3lghlw:not(.backgroundFlash-1X5jVs) {
    background-color: var(--info-danger-background)
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) .messageListItem-ZZ7v6g .groupStart-3Mlgv1,
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs, .expanded-3lghlw)+.messageListItem-ZZ7v6g .groupStart-3Mlgv1 {
    margin-top: 0
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) .messageListItem-ZZ7v6g {
    opacity: .5
}

.blockedSystemMessage-3FmE9n .iconContainer-2rPbqG {
    display: none
}

.blockedMessageText-3Zeg3y {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: var(--interactive-muted)
}

.blockedMessageText-3Zeg3y:hover {
    text-decoration: underline
}

.blockedMessageText-3Zeg3y:hover,
.groupStart-3Mlgv1.expanded-3lghlw .blockedMessageText-3Zeg3y {
    color: var(--info-danger-foreground)
}

.blockedAction-2cPk2G {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0
}

.blockedMessageText-3Zeg3y:after {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 14px;
    pointer-events: none;
    background-color: currentColor;
    -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 24" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 3.999V2H9V3.999H3V5.999H21V3.999H15Z M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z" ></path></svg>') center/contain no-repeat
}

.container-1NXEtd .content-2a4AW9>div[style="height: 16px;"]:nth-child(2) {
    display: none;
}

/* Compact channels catégories */

:root {
    --category-spacing: 2px;
    --channel-spacing: 4px;
}

.containerDefault-3TQ5YN,
.containerDragAfter-1J_-1V,
.containerDragBefore-ei4h1m,
.containerUserOver-3woq86 {
    padding-top: var(--category-spacing);
}

.mainContent-20q_Hp {
    padding: var(--channel-spacing);
}

/* Re-round Spotify Status Images */
.assetsLargeImageSpotify-17ME3M {
    border-radius: 8px;
}
