@import url('https://d3sox.github.io/complementary-discord-theme/hide-nitro-upselling.theme.css');
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bearableInbox.css);

/* discord button */
[data-list-item-id="guildsnav___home"]>.childWrapper-1j_1ub {
  background: url("https://cdn.discordapp.com/icons/1015060230222131221/f0204a918c6c9c9a43195997e97d8adf.webp") center/cover;
}
.homeIcon-r0w4ny {
  display: none;
}

/* kawaii react */
 path[d^="M12.1151 2.00065C12.0768 2.00022 12.0384 2 12 2C6.477 2 2 6.477 2 12C2 17.522 6.477 22 12 22C17.523 22 22 17.522 22 12C22 11.9616 21.9998 11.9232 21.9993 11.8849C21.1882 12.1737 20.3146 12.3309 19.4043 12.3309C15.1323 12.3309 11.6691 8.86771 11.6691 4.59565C11.6691 3.68536 11.8263 2.8118 12.1151 2.00065ZM7.92105 11.8023C7.92105 12.7107 7.18468 13.4471 6.27631 13.4471C5.36795 13.4471 4.63158 12.7107 4.63158 11.8023C4.63158 10.894 5.36795 10.1576 6.27631 10.1576C7.18467 10.1576 7.92105 10.894 7.92105 11.8023ZM10.5217 14.5171C10.3859 13.9893 9.84786 13.6716 9.32005 13.8074C8.79223 13.9433 8.47448 14.4813 8.61033 15.0091C9.01196 16.5695 10.4273 17.7236 12.1147 17.7236C13.8021 17.7236 15.2174 16.5695 15.6191 15.0091C15.7549 14.4813 15.4372 13.9433 14.9093 13.8074C14.3815 13.6716 13.8435 13.9893 13.7077 14.5171C13.525 15.2267 12.8797 15.7499 12.1147 15.7499C11.3497 15.7499 10.7044 15.2267 10.5217 14.5171Z"] {
  d: path('m12 2c-5.523 0-10 4.477-10 10 0 5.522 4.477 10 10 10 5.523 0 10-4.478 10-10 0-0.0384 5e-4 -0.076283 0-0.11458-0.8111 0.2888-1.6861 0.44531-2.5964 0.44531-4.272 0-7.7344-3.4623-7.7344-7.7344 0-0.91029 0.15651-1.7852 0.44531-2.5964-0.0383-4.3e-4 -0.076183 0-0.11458 0zm-5.724 8.1589c0.90836 0 1.6458 0.73493 1.6458 1.6432 0 0.9084-0.73747 1.6458-1.6458 1.6458-0.90836 0-1.6432-0.73744-1.6432-1.6458 0-0.9083 0.73487-1.6432 1.6432-1.6432zm1.8438 5.5729c0.25251-0.015862 0.50575 0.10482 0.65625 0.30729 0.16198 0.27381 0.19805 0.62398 0.45833 0.84115 0.46684 0.49753 1.3278 0.49756 1.7969 0.002604 0.32446-0.24897 0.26914-0.72458 0.58333-0.97396 0.37809-0.34531 1.0417-0.15559 1.2031 0.32292 0.044428 0.30618 0.19507 0.59846 0.4349 0.79948 0.5078 0.4671 1.3751 0.3905 1.8047-0.14583 0.28002-0.28144 0.22165-0.77826 0.61458-0.96615 0.48615-0.31512 1.1969 0.12779 1.1406 0.70052-0.15245 0.89083-0.79763 1.6681-1.625 2.0208-1.039 0.47433-2.3482 0.20498-3.1224-0.63281-0.50839 0.48608-1.2025 0.77285-1.9062 0.78125-1.2196 0.029143-2.3898-0.83972-2.7135-2.0156-0.19722-0.46057 0.17468-1.0315 0.67448-1.0417z');
}

/* Hide the emoji links */
a[href^="https://cdn.discordapp.com/emojis/"] {
    display: none;
}

/* Fix Small Image Group Previews (>=32px) */
.lazyImg-ewiNCh,
.originalLink-Azwuo9 {
    min-width: auto !important;
}

.mediaAttachmentsContainer-1WGRWy>div {
    width: fit-content;
}

.oneByTwoSoloItem-MZsImq {
    flex: 0.5;
}

.twoByOneGrid-3RBEQO {
    flex-direction: row;
}

.oneByTwoGrid-25mx0i {
    align-items: flex-start;
}

.lazyImgContainer-3k3gRy,
.mediaAttachmentsContainer-1WGRWy {
    border-radius: 0 !important;
}

.hoverButtonGroup-2yZIzC {
    top: 0;
    right: 0;
}

.hoverButton-36QWJk {
    border-radius: 5px;
}

/* Hide GIFT button */
.buttons-uaqb-5>.button-ejjZWC {
    display: none
}

/* Hide GIF button */
.buttonContainer-2lnNiN:not(.apateE2EButton):not(.send-button)> :not(.emojiButton-3FRTuj):not(.fm-button)> :not(.stickerButton-1-nFh2):not(.apateEncryptionKeyContainer):not(.translateButton-DhP9x8) {
    display: none;
}

/* Hide Stickers button */
.stickerButton-1-nFh2 {
    display: none;
}


/* Colorize ICon */
.emojiItemDisabled-3VVnwp {
    filter: none;
}

/* Colorize Spoiler */
/* #app-mount .spoilerText-2G40u0.hidden-2lQZ5q {
    background-color: #ecdcd4;
} */

/* Emote Fix */
img.emote {
    text-indent: 0;
    white-space: nowrap;
    width: auto;
    position: relative;
    top: 0.25ex;
}

/* Normal Status Picker */
.accountProfilePopoutWrapper-3GskID {
    left: unset;
}

.accountProfilePopoutWrapper-3GskID .userPopoutOuter-3AVBmJ {
    width: 220px;
}

.accountProfilePopoutWrapper-3GskID .userPopoutOverlayBackground-dKOOda {
    margin: 0;
    background: none;
}

.accountProfilePopoutWrapper-3GskID .userPopoutInner-1hXSeY> :not(.overlayBackground-1KgwVi),
.accountProfilePopoutWrapper-3GskID .overlayBackground-1KgwVi> :not(#account),
.accountProfilePopoutWrapper-3GskID #account>div>div>#account-divider-1 {
    display: none;
}

/* Fix Discord's Embeds for YouTube/Twitch VIdeos */
.embedVideoImageComponent-3Clc3C {
    justify-content: unset;
    align-items: unset;
}

/* Username Background(Fixes New Badge Issue) */
.headerText-2z4IhQ>[role*="button"]:not(.username-h_Y3Us)::before {
    content: '';
    width: calc(18px + 7px);
    background-color: currentColor;
    opacity: 0.3;
    margin-left: 2px;
}

/* Username Background */
.headerText-2z4IhQ>span::before {
    content: '';
    width: calc(100% + 7px);
    height: 100%;
    border-radius: 5px;
    background-color: currentColor;
    opacity: 0.3;
    position: absolute;
    margin-top: 0px;
    z-index: -1;
    margin-left: -3px;
}

.headerText-2z4IhQ>span {
    margin-left: 3px;
}

/* repairs left shift */
.cozy-3raOZG .headerText-3Uvj1Y>.username-1A8OIy {
    margin-left: 3px;
}

/* fix the file icon shrinking with long file names */
.audioMetadata-3zOuGv::before {
    min-width: 24px;
}

/* Fix the channel icon being oversized in embeds and channel topics */
.topic-TCb_qw>.wrapper-3WhCwL>.channelIcon-1MN1lz,
.embedFooterText-28V_Wb>.wrapper-3WhCwL>.channelIcon-1MN1lz {
    width: calc(1.05rem * 1.05 / 1.3);
    height: 1.05rem;
}


/* Replaces the long discord message links with "Jump to Message" in chat */
[title^="https://discord.com/channels/"],
[title^="https://ptb.discord.com/channels/"],
[title^="https://canary.discord.com/channels/"] {
    line-height: 0;
    font-size: 0;
    text-decoration-color: #fff !important;
}

[title^="https://discord.com/channels/"]::before,
[title^="https://ptb.discord.com/channels/"]::before,
[title^="https://canary.discord.com/channels/"]::before {
    content: "✉ Jump to Message";
    font-size: 16px;
    user-select: text;
    font-weight: 500;
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    background: hsla(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%, 0.3);
    color: hsl(236, calc(var(--saturation-factor, 1) * 83.3%), 92.9%);
}

[title^="https://discord.com/channels/"]:hover::before,
[title^="https://ptb.discord.com/channels/"]:hover::before,
[title^="https://canary.discord.com/channels/"]:hover::before {
    background-color: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);
    color: #fff;
}

/* Compact Blocked Messages */
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs)>.wrapper-30-Nkg {
    padding: 0 0 0 16px
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs)>.wrapper-30-Nkg.compact-2Nkcau {
    padding: 0 0 0 108px
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) {
    margin: 0
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1.expanded-3lghlw:not(.backgroundFlash-1X5jVs) {
    background-color: var(--info-danger-background)
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) .messageListItem-ZZ7v6g .groupStart-3Mlgv1,
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs, .expanded-3lghlw)+.messageListItem-ZZ7v6g .groupStart-3Mlgv1 {
    margin-top: 0
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) .messageListItem-ZZ7v6g {
    opacity: .5
}

.blockedSystemMessage-3FmE9n .iconContainer-2rPbqG {
    display: none
}

.blockedMessageText-3Zeg3y {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: var(--interactive-muted)
}

.blockedMessageText-3Zeg3y:hover {
    text-decoration: underline
}

.blockedMessageText-3Zeg3y:hover,
.groupStart-3Mlgv1.expanded-3lghlw .blockedMessageText-3Zeg3y {
    color: var(--info-danger-foreground)
}

.blockedAction-2cPk2G {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0
}

.blockedMessageText-3Zeg3y:after {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 14px;
    pointer-events: none;
    background-color: currentColor;
    -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 24" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 3.999V2H9V3.999H3V5.999H21V3.999H15Z M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z" ></path></svg>') center/contain no-repeat
}

.container-1NXEtd .content-2a4AW9>div[style="height: 16px;"]:nth-child(2) {
    display: none;
}

/* Compact channels catégories */

:root {
    --category-spacing: 2px;
    --channel-spacing: 4px;
}

.containerDefault-3TQ5YN,
.containerDragAfter-1J_-1V,
.containerDragBefore-ei4h1m,
.containerUserOver-3woq86 {
    padding-top: var(--category-spacing);
}

.mainContent-20q_Hp {
    padding: var(--channel-spacing);
}

/* Re-round Spotify Status Images */
.assetsLargeImageSpotify-17ME3M {
    border-radius: 8px;
}
